<app-loading *ngIf="loading"></app-loading>


<div class="container"*ngIf="!loading">
  <div class="jumbotron">
    <div class="row" >
      <div class="col-12">
        <h1>Acerca de la tienda</h1>
      </div>


      <div class="col-12">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae cumque consectetur quasi vel ducimus facilis,
          ex
          aperiam necessitatibus sed soluta quod. Deleniti, nam suscipit minima, alias autem, veniam placeat aperiam
          velit
          minus reiciendis possimus eum! Repellat, quidem dignissimos. Provident iusto fugit quasi praesentium quo
          commodi
          nobis nisi ipsam modi quisquam.</p>
      </div>
    </div>
  </div>
</div>
