<app-loading *ngIf="loading"></app-loading>


<div class="card-columns" *ngIf="!loading">
  <div class="card" *ngFor="let producto of productoRecibidos">
    <img [src]="producto.imageUrl" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{producto.productName}}</h5>
      <p class="card-text">{{producto.productCode}} </p>
      <p class="card-text">{{producto.releaseDate}} </p>
      <p class="card-text">{{producto.description}} </p>
      <p class="card-text">{{producto.price}} </p>
      <p class="card-text">{{producto.starRating}} </p>
      <button type="button" (click)="MandarInformacion(producto.productId)"  class="btn btn-outline-info btn-lg btn-block">Ver más...</button>
    </div>
  </div>
</div>
